config netbird 'main'
	option enabled '0'
	option management_url 'https://api.netbird.io:443'
	option admin_url 'https://app.netbird.io:443'
	option config_file ''
	option setup_key_file '/etc/netbird/setup.key'
	option daemon_addr 'unix:///var/run/netbird.sock'
	option state_dir '/root/.config/netbird'
	option dns_state_file '/var/lib/netbird/state.json'
	option disable_ssh_config '1'
	option hostname ''
	option log_level 'info'
	option anonymize '0'
	option disable_profiles '0'
	option disable_networks '0'
	option disable_update_settings '0'
	option enable_capture '0'
	option extra_args ''
	# Prefer OpenWrt-native list values for additional arguments:
	# list extra_arg '--disable-dns'
	# list extra_arg '--disable-firewall'
